[2019-10-04 17:33] PetrDlouhy opened #1 "Make django-admin-charts actually independent to django-admin-tools"
We should check, that it is possible to install it without `django-admin-tools`.

[2019-10-04 17:34] PetrDlouhy opened #2 "Make some default values configurable from admin"
Default values of chart type, time period, etc. should be configurable on `DashboardStats` admin.

[2019-10-05 07:00] PetrDlouhy opened #3 "Add choices to DashboardStats fields"
Add choices to DashboardStats fields like `model_name` or `date_field_name` (if `model_name` is set).

[2019-10-08 01:46] PetrDlouhy commented on #2
Storing the selected values of particular switches in cookies would be also quite helpful.

[2019-10-08 01:47] PetrDlouhy commented on #1
Fixed by #cf85f16feb280864, but would be nice to have this tested, because it can be easy to introduce some dependency in the future.

[2019-10-08 01:54] PetrDlouhy opened #5 "Cache the data series to make switching between chart types faster"

[2019-10-15 06:13] PetrDlouhy opened #6 "One dynamic criteria could serve as multiple chart and also as select criteria"
Maybe it would be better to have two M2M relationships between Stats and Criteria

[2019-10-15 06:14] PetrDlouhy opened #7 "Return blank data if unautenthified"

[2019-10-15 06:37] PetrDlouhy opened #8 "Automatic choices from select box criteria should offer blank choice"

[2019-10-15 10:11] PetrDlouhy opened #9 "Validate dynamic criteria when added to Stats"

[2020-01-23 07:51] PetrDlouhy commented on #8
Done

[2020-01-23 07:51] #8 closed

[2020-01-23 07:53] #1 closed

[2020-02-24 08:00] PetrDlouhy opened #11 "Multiple series and divide as checkboxes (can be selected together)"

[2020-02-24 08:01] PetrDlouhy opened #12 "Cache chart data (to overcome Heroku timeout better)"

[2020-02-24 08:04] PetrDlouhy opened #13 "Pie chart should display data for whole time range untruncated"

[2020-03-14 17:12] lggwettmann opened #14 "python-slugify [required: ==1.1.4] in NVD3"
Hey guys,

the dependency with django-NVD3 raises a pipenv error cause django-nvd3 strictly asks for python-slugify==1.1.4

How can I solve this? I already posted on their issues board, but since they haven't had any update in the last 2 years, I don't expect much out of that.

[2020-03-14 18:03] PetrDlouhy commented on #14
Hi @lggwettmann,

I install with `develop` branch of `python-nvd3` (`pip install git+https://github.com/areski/python-nvd3@develop#egg=python-nvd3`).
You would have to poke @areski to release new version at https://github.com/areski/python-nvd3 to get this installed properly.

[2020-03-14 18:18] lggwettmann commented on #14
Ah thanks! I did that.

[2020-03-14 18:18] #14 closed

[2020-03-14 18:22] lggwettmann opened #15 "nv.d3.min.js: Uncaught TypeError: a.dispatch.render_start is not a function"
Hey guys,

first of all, this seems like a great package and thanks for all the work on this.

Unfortunately, it's quite difficult getting started with this without any documentation on how to use it:
After installing, migrating and setting up a Dashboard Stats, I can see where the chart should be placed, but I get a JS error in NV D3 (see screenshot).

<img width="955" alt="Screenshot 2020-03-14

[2020-03-14 21:41] PetrDlouhy commented on #15
Hi,

you might be the first, that uses this (or at least who did write some feedback) after I derived this from `django-admin-tools-stats` into current state. There might be some hurdles, since you are the first, but I am wiling to help, because I would like more people to use this (and potentially get involved).
There is a documentation for this, and some aspect are described at: https://django-a

[2020-03-14 22:06] lggwettmann commented on #15
Hey @PetrDlouhy,

thanks for your fast response and your willingness to help with this (besides keeping this fantastic library alive and rocking).

I did see the docs you mentioned and they were very helpful. I do miss how to set up charts after the initial installation and coded configuration. Which steps am I supposed to take afterward? (I kind of just created a DashboardStats-instance without f

[2020-03-15 11:39] PetrDlouhy commented on #15
The configuration seems right to me and the returned chart data seems to be valid, so I guess this is some kind of version mismatch with the nvd3 javascript libraries. Did you try to install the exact versions as suggested in docs?
[code]

[2020-03-15 15:49] lggwettmann commented on #15
You were absolutely correct. I only had tried to use NVD3 in version 1.7.1 but using D3 also in 3.3.13 did the trick. Sorry for that, I could have come up with that myself. Thanks for your help!

[2020-03-15 16:06] lggwettmann commented on #15
I have other questions, so before I add new issues, I'll just post them here if that's okay with you?

I want to display the charts at the top of the dashboard index and not in the footer. I know how to place them at the top following your admin/index.html-template. But just doing
[code]
seems like a bad idea cause it would block changes to the admin footer from other apps. Any thoughts on that?

[2020-05-15 01:10] farahats9 opened #16 "Admin Dashboard timeout after enabling the graph"
I am getting a timeout when I make the graph visible and go back to the dashboard. the issue is not happening on my development machine which runs windows. It only happens on the server running ubuntu 18.04 with Nginx. No errors show up in the logs. the machine is decent and the graph  is not supposed to be querying much data (only users model which have 2 users)

Any advice on how to debug this i

[2020-05-26 07:24] PetrDlouhy commented on #16
@farahats9 I am afraid, I cannot help much here. I don't see much info related to `django-admin-charts` here.
What is the request URL (endpoint) on which this timeout happens? What is your timeout settings (Django itself doesn't have timeout, it usually is set on WSGI server, e.g. Gunicorn or Nginx)? How long does the request run?

[2020-05-26 07:52] PetrDlouhy commented on #15
@Iggwettman Weird, I think, I have written answer to this, but I don't see it here.

- You can either override directly the original `Django` template by `{% extends "admin:admin/index.html" %}` and copy the code (which is not very neat), or you can submit pull request, which would place the charts on top when some settings variable is set.

- Criteria filtering or splitting the charts values. I w

[2020-06-17 21:31] Mirakul1 opened #17 "Error on installation"
I am trying to install the application using `pip install django-admin-charts`, but I keep getting this error
`ERROR: Could not install packages due to an EnvironmentError: [Errno 22] Invalid argument: 'C:\\Users\\USER\\AppData\\Local\\Temp\\pip-install-fzl00olu\\django-admin-charts\\admin_tools_stats/:qa'`

I am using Python 3.7.5,  on Windows 10.
From my research online, the `/:qa` at the end of

[2020-06-18 06:03] PetrDlouhy commented on #17
@Mirakul1 Seems like the `:qa` file got accidentally into the release. That file name is OK on Linux, but not allowed on Windows, that is why I did not notice.
Now it should be fixed.

[2020-06-24 20:45] josylad opened #18 "Stats not showing on Admin Index"
Hi,
I believe the stats are supposed to show on the Admin Index right?
Because after setting it up by following the docs, the charts doesn't show up but if I go to the Dashboard stats page and click the analytics link, a new window shows up with the charts.

Am I missing something?
I am using Django 3.0

[2020-06-26 06:42] PetrDlouhy commented on #18
Hí,

the analytics page is a new feature, which I added to hide some less used charts to make the admin index faster and cleaner. The analytics page now displays all charts, and admin index should display only charts marked as `visible`.

Otherwise the charts should be displayed on the "vanilla" admin index (or on `django-admin-tools` admin index). Please check, if you haven't got some other apps

[2020-06-30 09:38] Mirakul1 commented on #17
Okay, thanks. I will check it out

[2020-06-30 09:39] #17 closed

[2020-07-05 17:42] lggwettmann commented on #18
Hey guys,

I'm having the same issues here. I removed Django CMS admin to make sure it doesn't override anything and it still doesn't show up. I have marked the charts as 'visible'. Using Django 2.2.

[2020-07-14 16:06] fpghost commented on #18
Same issue here too

[2020-07-15 07:24] PetrDlouhy commented on #18
Hi,

I have found the problem and fixed it. The fixed version is now released as `0.20.2`.

[2020-07-15 07:24] #18 closed

[2020-08-09 09:27] omercnet opened #19 "Exception Value: 'NoneType' object has no attribute 'year'"
First item in the series has a `None` for a key, ideas what could cause this?

https://dpaste.com/2MQW3YF43

*Local vars*:
[code]

[2020-09-11 12:16] #6 closed

[2020-09-11 12:17] #2 closed

[2020-09-21 09:26] wanaryytel opened #22 "Analytics view buttons not working in FF"
The buttons in the new analytics view work in Google Chrome but in Firefox they take you to a new page that just shows this text `[object Object]`.

[2020-09-22 05:27] PetrDlouhy commented on #22
Hi @wanaryytel, I tried analytics on Firefox `80.0.1` and everything works fine. Can you please provide more information about this issue? Like Firefox version, debug console output (both dev tools in Firefox and Django).

[2020-09-22 05:31] PetrDlouhy commented on #22
@wanaryytel Now I bumped to that error, so ignore the previous message.

[2020-09-22 06:26] PetrDlouhy commented on #22
@wanaryytel Can you please try newset `master` if it is fixed for you?

[2020-09-28 13:13] wanaryytel commented on #22
@PetrDlouhy Yes, that fixed it! Thanks!

[2020-09-28 13:13] #22 closed

[2020-09-30 11:02] dilshod97 commented on #3
i have an order model it has a store_id field i can know how to sell a store that matches store_id

[2020-10-04 08:47] alexey74 opened #23 "psycopg2.ProgrammingError: can't adapt type 'SimpleLazyObject'"
web_1       | Traceback (most recent call last):
web_1       |   File "/usr/local/lib/python3.8/site-packages/django/core/handlers/exception.py", line 47, in inner
web_1       |     response = get_response(request)
web_1       |   File "/usr/local/lib/python3.8/site-packages/django/core/handlers/base.py", line 179, in _get_response
web_1       |     response = wrapped_callback(request, *callback_a

[2020-10-05 06:20] PetrDlouhy commented on #23
@alexey74 Please give detailed description of your case (like your models used `DashboardStats` settings, which view does throw that error, local variables in the `/usr/local/lib/python3.8/site-packages/django/db/models/manager.py` call, etc.).
My first guess is that you have some kind of misconfiguration - probably the `User` model is given from `get_user()` function as `SimpleLazyObject` and sho

[2020-10-05 06:29] PetrDlouhy commented on #19
@omercnet I am not sure and the `dpaste` link doesn't work now. But I would try to look to the output of `get_time_series()` function in `models.py` package.

[2020-10-05 06:31] #11 closed

[2020-10-05 06:34] PetrDlouhy commented on #12
Output of chart data could be saved to through special model to the database so only unknown values are calculated. This should be made optional as some charts have values time-dependent.

[2020-10-16 22:32] WhiteRose7-pretty commented on #19
Hello @PetrDlouhy
I have installed and and running your demo project.
But chart is not displaying in admin page, so I checked console.
There was error.
 AttributeError at /admin_tools_stats/chart_data/user_graph/
'NoneType' object has no attribute 'year'
Thank you in advance.
Valya.

[2020-10-17 09:03] WhiteRose7-pretty opened #24 "AttributeError: 'NoneType' object has no attribute 'year' when running demo project"
Hello @PetrDlouhy
I am running demo project.
but I can't see graph and getting bug.
Thank you in advance for any help.
Django:2.2, Python:3.7 and 3.8

AttributeError: 'NoneType' object has no attribute 'year' when running demo project

![image](https://user-images.githubusercontent.com/53968816/96333041-2f546480-109a-11eb-9fd8-14840e91d5bf.png)

I am getting this error in this links

Request Metho

[2020-10-17 20:46] PetrDlouhy commented on #24
Hi @WhiteRose7-pretty I tried it, and successfully reproduced the issue. I realised, that this issue is present only in Django 3.1, but not in 3.0, and the underlying error is probably the same as in #23. I will try to find, what changed in the newest Django, in the meantime, you can test with the older version.

[2020-10-17 21:11] PetrDlouhy commented on #24
It was probably caused by the JSONfield. From Django 3.1 it has native implementation, so I am trying to switch to that in branch @jsonfield. @WhiteRose7-pretty Can you please test that branch?

[2020-10-17 21:11] PetrDlouhy commented on #23
It was probably caused by the JSONfield. From Django 3.1 it has native implementation, so I am trying to switch to that in branch @jsonfield. @alexey74  Can you please test that branch?

[2020-10-17 23:01] alexey74 commented on #23
In fact, the problem can be fixed by converting some arguments in `get_context_data()` to `str`, and `graph_key` may be the only one required:

[code]

[2020-10-18 22:23] WhiteRose7-pretty commented on #24
Hi, @PetrDlouhy
code part making bug
`        for date in sorted(series.keys(), key=lambda d: datetime(d.year, d.month, d.day, getattr(d, 'hour', 0))):
            xdata.append(int(time.mktime(date.timetuple()) * 1000))
            for key, value in series[date].items():
                if key not in serie_i_map:
                    serie_i_map[key] = len(serie_i_map)
                y_key = 'y%i'

[2020-10-18 23:20] WhiteRose7-pretty commented on #24
But result always zero.
![image](https://user-images.githubusercontent.com/53968816/96388426-45b60980-11db-11eb-97dc-174964ba06c1.png)
I changed user's last login data and register date. and I have added new user.
but alyays 0.

[2020-10-19 03:25] PetrDlouhy commented on #24
What is your database and it's version?
Can you print output of `models -> get_time_series()` (the `qs.all()`)?

[2020-10-19 17:02] WhiteRose7-pretty commented on #24
At the moment, I am using sqlite3 and postgreSQL will be used in the future.
[code]

[2020-10-19 18:13] PetrDlouhy commented on #24
@WhiteRose7-pretty I didn't test on any other database than PostgreSQL,and I think, the date aggregation can vary between databases. So please try the PostgreSQL. PRs with the tests and support in for other databases are welcome. I will at least write some note to the README about that.

[2020-10-26 07:54] WhiteRose7-pretty commented on #24
Thank you, I solve the issue with PostgreSQL.

[2020-10-26 07:54] #24 closed

[2020-10-26 08:03] WhiteRose7-pretty opened #26 "TypeError: Object of type Decimal is not JSON serializable"
Hello, @PetrDlouhy
I have created dashboard stat object with bottom parameters.
![image](https://user-images.githubusercontent.com/53968816/97202481-a6060600-17ee-11eb-9932-c75ad2ee82db.png)
There are data like bottom.
![image](https://user-images.githubusercontent.com/53968816/97147489-8fd35800-17a4-11eb-8bde-b00388bef62f.png)
Model is ,
[code]
but I am getting this error.
  File "C:\Python38\lib

[2020-10-26 08:30] PetrDlouhy commented on #26
Hi @WhiteRose7-pretty,

Please write what exactly you mean by "I can't draw chart'.

I see one mistake in values that you set - you would probably want to set `Sum` instead of `Count` in `Choose type operation`. But I think that even this setting should draw something.

[2020-10-26 19:08] WhiteRose7-pretty commented on #26
Hello @PetrDlouhy  I have changed count -> Sum, But I am getting above error,
I have updated title and content, Please check again.

[2020-10-26 19:13] WhiteRose7-pretty commented on #26
Hello @PetrDlouhy I found that decimal field is making bug, So I changed to Integerfield, I used "sum" instead of count, but I am getting sum of number of objects, I want to get sum of amount field,

[2020-10-27 05:32] PetrDlouhy commented on #26
The error in original description could be caused by JsonField in Dashboard criteria. Did you use that?
I don't see where from `django-admin-charts` code it is the traceback thrown from. Is that the whole traceback?

The DecimalField shouldn't be problem - I use that on several places with Sum.

[2020-10-27 09:29] WhiteRose7-pretty commented on #26
I haven't used Dashboard criteria yet,
I have changed django version from 3.0 to 2.2.
it work in 2.2, but DecimalField is not working yet.

[2020-10-27 09:50] PetrDlouhy commented on #26
I am using Django 3.0
Without the whole traceback I really don't know what is going on.

[2020-10-27 10:24] WhiteRose7-pretty commented on #26
[code]
Hello @PetrDlouhy  I writed whole traceback.

[2020-10-27 10:38] PetrDlouhy commented on #26
That seems like some problem with `python_nvd3`/`django_nvd3`. What versions do you have installed?

[2020-10-27 10:48] WhiteRose7-pretty commented on #26
I am using django-nvd3 ==0.9.7 .

[2020-10-27 10:58] PetrDlouhy commented on #26
Same version here. But I found out what might be the problem. Your configuration doesn't allow to serialize the `Decimal` to JSON. Probably you don't have `simplejson` installed or do have old version. My version is `3.17.2`.

[2020-10-27 11:06] WhiteRose7-pretty commented on #26
yes, I don't have simplejson, so I installed simplejson 3.17.2. but same bug
[code]

[2020-10-27 11:08] WhiteRose7-pretty commented on #26
I am using python-nvd3 == 0.13.7.

[2020-10-28 05:41] PetrDlouhy commented on #26
@WhiteRose7-pretty Did the installation of `simplejson` solve the problem? Was there anything else, that you had to do?

I would like update the documentation with some info about DecimalFields

[2020-10-28 06:08] WhiteRose7-pretty commented on #26
yes, I have installed simplejson only,
but in my side, it is working in Django 2.2 only.

[2020-10-29 07:32] PetrDlouhy commented on #26
@WhiteRose7-pretty I have added small note to the requirements section in readme.

Could you please take a look at the whole documentation if there is something to improve what would help you to get `django-admin-charts` working?

[2020-11-02 15:34] WhiteRose7-pretty commented on #26
I am sorry I missed your message, I have looked your document, Package and document are excellent. Thank you.

[2020-11-12 16:18] #26 closed

[2021-02-05 20:49] cy commented on #23
@PetrDlouhy, I tried @alexey74's suggestion to cast interval, chart_type and graph_key to str in my project. It *does* work on the `jsonfield` branch, but does not work on master. It does look like the `jsonfield` branch is merged to master, so did something else change on master since `jsonfield` branch was merged?

[2021-02-20 18:03] kingraphaii commented on #19
Getting the same error. Did you manage to solve this @WhiteRose7-pretty ?

[2021-02-20 18:13] PetrDlouhy commented on #19
@kingraphaii Can you please post some more info about this?
Like full traceback or where does the error pop up?

[2021-02-20 18:16] PetrDlouhy commented on #19
Generally it can be caused by problems with JSONfield (#26 and #23) or some problem with the `Date field name`.

Django version would be also very hepfull.

[2021-02-20 18:30] kingraphaii commented on #19
Hi Petr. I was just trying out the package on `Django==3.1.6`. The error happens when I try to preview a chart. Here is the traceback:

[code]
From what I've seen so far, one or more elements in `sorted.keys()` are `None`

[2021-02-20 18:42] PetrDlouhy commented on #23
I am really confused what is happening here, and the @alexey74's code doesn't seem to me like proper fix of the problem. At leas I am not able to write proper test for this.

I am probably lacking some essential information:

- What is the URL, where this error occurs?
- Why is there SimpleLazyObject on the `graph_key` parameter, if the parameter should be given by the view call?
- On what Django

[2021-02-20 18:53] PetrDlouhy commented on #19
Do you have some `None` values in your `Date field name` field?

[2021-02-20 19:26] kingraphaii commented on #19
No, the field is does not have null values. It's defined as `date_placed = models.DateTimeField()`

[2021-02-20 20:19] WhiteRose7-pretty commented on #19
Yes, by using PostgreSQL as db, I solved the issue.

[2021-02-21 11:22] PetrDlouhy commented on #19
I have started experimenting with MySQL support in the branch https://github.com/PetrDlouhy/django-admin-charts/tree/mysql. I make the tests mostly working, but before I bumped to this issue, I find out, the Trunc DB function (https://docs.djangoproject.com/en/3.1/ref/models/database-functions/#trunc) doesn't work under MySQL.
I don't know why, it is not described in the docs, but it returns untru

[2021-02-21 11:52] PetrDlouhy commented on #19
I figured out what was the problem - the `kind` parameter should get values like `day`, but it was getting `days`, which works under Postgres, but not MySQL.

@kingraphaii Can you please test the branch `mysql` now? I am not sure if it is the same problem, but at least the tests are now passing.

[2021-02-21 14:26] PetrDlouhy commented on #16
I am closing this. @farahats9 If the error is still present, please post more info and reopen.

[2021-02-21 14:26] #16 closed

[2021-02-21 14:28] PetrDlouhy commented on #15
I am closing this. @lggwettmann If you still have some issues, please open new issue reports.

[2021-02-21 14:28] #15 closed

[2021-02-21 14:29] #5 closed

[2021-02-23 20:50] cy commented on #23
- the error occurs when loading the `/admin` django admin front page where the graphs are shown
- I'm not well versed enough in the workings of this lib to answer this question
- it occurs on Django 3.1.0

[2021-02-24 07:24] PetrDlouhy commented on #23
@cy When you load the `/admin` page, how you get the error? Do you get the JavaScript alert popup message with the error?

The `django-admin-charts` library makes AJAX calls in the background, so I would need the URL of that call. Please use development tools in your browser and copy the last call URLs from the network panel including all query parameters. The URL should start with `/chart_data`.

[2021-02-24 07:40] PetrDlouhy commented on #23
I probably found the problem, which is in fact caused by Django itself: https://code.djangoproject.com/ticket/31877

Please try to upgrade Django 3.1 to at least 3.1.1. In fact you should always use the highest patch number to get all security fixes.

[2021-02-24 07:40] #23 closed

[2021-02-26 23:43] cy commented on #23
@PetrDlouhy thank you for figuring it out! Yes upgrading to 3.1.1 fixed it 👍

[2021-07-23 03:11] WhiteRose7-pretty opened #28 "Reverse for 'admin-charts' not found. 'admin-charts' is not a valid view function or pattern name."
Hi, @PetrDlouhy
Now after I install django-admin-charts package, I am getting this error.
python: 3.6.9
database: postgresql
django: 2.2
django-admin-charts==0.24.1
and here is all trace back.
https://dpaste.com/EH7F4YLT3
Thank you in advance

[2021-07-23 03:20] #28 closed

[2021-07-23 05:23] PetrDlouhy commented on #28
The issue is closed, @WhiteRose7-pretty did you solve it?

[2021-07-28 01:55] WhiteRose7-pretty commented on #28
@PetrDlouhy yes, I solved
there were some mistake in urls.py.
I didn't add this path to urls
path('admin_tools_stats/', include('admin_tools_stats.urls')),
Thanks @PetrDlouhy

[2021-11-19 17:53] Simouche opened #29 "AttributeError: 'NoneType' object has no attribute 'rsplit'"
I'm using django 3.1, I installed django-admin-tools 0.9.1 and wanted to add django-admin-charts 0.24.1.
but whenever i try to run `py manage.py check` it throws `AttributeError: 'NoneType' object has no attribute 'rsplit'`.
any help about this?

[2021-11-20 06:07] PetrDlouhy commented on #29
Hi @Simouche,

I don't know about that, I am using Django 3.1 just fine. Could you please send the whole traceback?

[2021-11-20 11:35] Simouche commented on #29
Hey @PetrDlouhy , thanks for the fast reply, yeah here is the traceback:
[code]

[2021-11-20 13:58] PetrDlouhy commented on #29
@Simouche Do you have set up the `default` cache? With something like this: https://docs.djangoproject.com/en/3.2/topics/cache/#memcached
It might be missing in the README, so if it is that case, I will put it there.

[2021-11-20 14:09] Simouche commented on #29
yeah that was the case, i had:
[code]
and since i don't use any cachine (right now), i removed that, and it's working.
i'd suggest you point that out (that the caching backend shouldn't be None).

[2021-11-20 14:09] #29 closed

[2021-11-20 14:31] PetrDlouhy commented on #29
@Simouche The `django-admin-charts` uses caching to speed up certain operations. So without working cache you can have slower charts.

[2021-12-21 03:55] milin opened #32 "Users who are not super users, but can still access the admin, i.e staff level users, cannot view the charts"
Looks like they get redirected too many times, at the http://localhost:8001/admin_tools_stats/chart_data/<graph_key> view layer.

[2021-12-21 11:39] PetrDlouhy commented on #32
@milin There is change in the `master` branch now, with which you can manage non-superusers that by permissions.
Also there is  `frontend_users` branch, which takes this many steps further and allows to set up charts even for frontend users.

[2021-12-21 12:26] milind-shakya-sp commented on #32
Good to know. Is there a pip version that this change is associated with

[2021-12-21 14:21] PetrDlouhy commented on #32
Not yet. I would like release the frontend users changes, but I will need to do more testing.

[2021-12-23 23:10] milin commented on #32
Closing the issue since I can use the master branch for now, and this is fixed in the master branch

[2021-12-23 23:10] #32 closed

[2021-12-28 10:26] PetrDlouhy commented on #32
@millin I released version `0.25.0` with the permissions fix included and also with the frontend users feature.
Please test and report if you find any problem.

[2021-12-28 11:44] millin commented on #32
@PetrDlouhy It seems you made a mistake tagging me :smile:

[2021-12-28 12:45] PetrDlouhy commented on #32
Ah, sorry. Should be @milind-shakya-sp

[2021-12-29 04:35] milin commented on #32
@PetrDlouhy Thanks 👍

[2021-12-29 05:39] milin opened #33 "AttributeError at /admin/ 'str' object has no attribute 'get_control_form_raw'"
http://localhost:8000/admin/
django - 3.1.13
AttributeError
'str' object has no attribute 'get_control_form_raw'

Exception Location: packages/admin_tools_stats/templatetags/admin_chart_tags.py, line 35, in get_control_form

Getting the following exception right after upgrading to 0.25.0 and also in the latest master. Seems like it renders the package unusable.

[2021-12-29 07:49] PetrDlouhy commented on #33
@milin Can you please add full error stack. Are you using `admin-tools`? Does this happen on the index of admin?

[2021-12-29 07:58] PetrDlouhy commented on #33
@milin It seems, that the problem could be somewhere in your `dashboard.py` configuration. Can you please post also the section with charts initialization from there?

[2021-12-29 23:13] milin commented on #33
No

Yes

I am not sure what is `dashboard.py` config. I don't think I have one.

For the time being, I reverted to an older commit from master, to make things work. I will bump the version to 0.25.0 again, and post the entire stack, it may take some time though.

[2021-12-30 00:46] #33 closed

[2021-12-30 00:49] PetrDlouhy commented on #33
@milin Hi, I have found the problem. I didn't test it on plain admin.
Now it should work in `0.25.1`. Please test and reopen if you see this problem, or open new issue, if you bump into something else.

Thank you for noticing this issue.

[2022-01-06 20:25] srkunze opened #35 "Basic Usage"
Hi everyone,

I found this library and it looks quite cool. After installing and configuration, though, I am a bit lost what should happens next after https://django-admin-charts.readthedocs.io/en/latest/introduction.html#basic-setup-for-django-admin

"http://localhost:8000/admin_tools_stats/" cannot be resolved. Would you care to explain to a newbie what the next step after "Open admin panel, con

[2022-02-02 11:34] NotSoShaby opened #36 "Error when installing the package"
I'm getting a pretty general error when installing the package.

I installed all requierments and followef installation process.

When installed apps:
[code]

log:
serverWarmup ✘ refael@Refael-laptop  ~/Desktop/serverWarmup  python serverWarmup/manage.py check --settings=serverWarmup.dev_settings
System check identified no issues (0 silenced).

When installed apps:
[code]
Log
[code]

I tried a a

[2022-03-04 13:59] tsotnesharvadze commented on #35
Hello, I have same problem.

I make everything and what?

:D

[2022-03-04 16:33] PetrDlouhy commented on #35
I will try to extend the documentation based on this.

The "Open admin panel..." sentence should mean, that `django-admin-charts` is configurable through Django admin interface:
![Snímek obrazovky_2022-03-04_17-29-58](https://user-images.githubusercontent.com/156755/156801716-72723e20-bd08-4c5d-a649-677d23aaa992.png)

You will have to add `Dashboard stats` and fill in the apropriate values for you

[2022-03-12 19:54] pavitrakumar78 opened #37 "Simple examples needed: how to show a graph of newly registered users"
Hi,

Thanks for building this library!

I'm so far able to get a graph where I'm able to see the total count of users per day/week, but how can I get a growth graph?

something like:

[code]

Is this possible with the current features?

[2022-03-12 20:31] PetrDlouhy commented on #37
Hi @pavitrakumar78,

if you mean graph of how many users has registrated up till certain day in the graph, then probably no.
It is not possible to do directly in this library.

You can of course count such field in your database or achieve that by matreialized DB views, or something like that, but that is not very practical and easy.

PRs with this functionality are welcome.

[2022-03-12 20:53] pavitrakumar78 commented on #37
Thank you for your response! I understand.

I will close this issue for now.

[2022-03-12 20:53] #37 closed

[2022-03-17 05:32] lvelvee opened #38 "customize x-axis support"
i guess x-axis may be a non-time field.

[2022-03-17 07:49] PetrDlouhy commented on #38
@lvelvee I don't know what exactly do you mean by that. What else do you want to put on the x-axis instead of time?

Anyway, I don't have time to develop new features unless I will highly benefit from them in my project. But any initiative is welcome and MRs will be very appreciated.

[2022-03-17 08:09] lvelvee commented on #38
thank you, you are right. I'd like make some contributions if I have enough time.

[2022-03-17 08:31] PetrDlouhy commented on #36
Hi @NotSoShaby,

which version of Django and `django-admin-charts` do you use?
It seems odd, that this would be caused by smart_text error in `django-admin-charts`, because the source is tested with Django 2.2 - 4.0 by automatic tests, and I am using the app with Django 4.0.

I guess, the problem might be in some other application or in combination of more applications.

[2022-03-17 08:33] PetrDlouhy commented on #19
This issue should be fixed in the newer versions of `django-admin-charts`. If the problems remain, please reopen.

[2022-03-17 08:33] #19 closed

[2022-03-17 08:34] PetrDlouhy commented on #12
This feature is added in the new release.

[2022-03-17 08:34] #12 closed

[2022-03-24 04:40] tulgaab opened #39 "Needs Django 4.0 integration"
Can't use django-admin-charts on Django 4.x version.

`ImportError: cannot import name 'smart_text' from 'django.utils.encoding' (/Users/khureltulga/Documents/GitHub/everestsso/.env/lib/python3.8/site-packages/django/utils/encoding.py)`

[2022-03-24 09:26] PetrDlouhy commented on #39
Which version of `django-admin-charts` do you use?
Can you please post full stacktrace?

The problem is probably in the dependency `django-cache-utils`, which wasn't updated yet to Django 4.0.
You can install compatible version with `pip install git+https://github.com/PetrDlouhy/django-cache-utils@django40`

[2022-03-24 10:13] tulgaab commented on #39
I'm using `django-admin-charts-1.0.0`
Full stack trace:
`
Exception in thread django-main-thread:
Traceback (most recent call last):
  File "/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/threading.py", line 932, in _bootstrap_inner
    self.run()
  File "/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/threading.py", line 870, in run
    self._target(*self._args, *

[2022-03-24 13:50] PetrDlouhy commented on #39
@tulgaab The error comes clearly from `django-cache-utils`.
The inability to install `django-cache-utils@django40` comes from this network error:
`fatal: unable to access 'https://github.com/PetrDlouhy/django-cache-utils/': error:02FFF036:system library:func(4095):Connection reset by peer`

Seems that something is blocking your network, I did try the exact command and it works for me.

Please refe

[2022-03-26 21:55] gishamohebi commented on #39
Hello
 I have a problem, I installed the package you mentioned above but it returns the blank diagrams to me. What should I do?

[2022-03-27 06:46] PetrDlouhy commented on #39
Check your Dashboard stats setting, check browser developers console for errors. Check if there is any data for the charts to be displayed.

I really can't tell anything without any information about the problem at all. Please send screenshots of the charts and your configuration.

[2022-03-27 08:43] gishamohebi commented on #39
Thanks for your comment .This is the screenshots of configuration and the
charts.

On Sun, Mar 27, 2022 at 11:17 AM Petr Dlouhý ***@***.***>
wrote:

[2022-03-27 17:47] PetrDlouhy commented on #39
Hi @gishamohebi,

I don't think, that the attachments will be posted to GitHub through if you send them as e-mail reply. I don't see anything here. Please post them as comment here.

[2022-04-05 21:23] johnmathews opened #41 "Trouble with dependencies using Django 4"
To be fair, I don't know much about pip, or eggs.
My app runs `django4.0.2` and I've added the following requirements:

[code]

pip errors during install with the following error message:
[code]
Do you have any advice how to run `django-admin-charts` on `Django 4`?

[2022-04-06 07:02] PetrDlouhy commented on #41
The error comes from `python-nvd3`. When I tried to install version `0.14.2` everything goes fine, but when I tried version `0.14.1` the `No such file or directory: 'CHANGELOG.rst'` error raises.

But I am not sure, why your installation falls for `0.14.1`.

[2022-04-07 07:13] johnmathews commented on #41
Thank you. That fixed it.

[2022-04-07 07:13] #41 closed

[2022-05-06 17:35] semics-tech commented on #35
I'm also in a similar place to this. It would be really helpful if you could supply some example charts that can just be imported or generated. Is this something that exists or could be considered?

[2022-05-06 21:06] PetrDlouhy commented on #35
@semics-tech The point of this project is, that the charts are highly configurable, so every project could have it's own charts configured according to it's database model.

If you want some pre-configured charts, it should be part of the demoproject.

I aggree that this project should be made more accessible, and I am willing to put some effort into it, but also I don't have much time, so every h

[2022-05-06 21:10] PetrDlouhy commented on #35
@semics-tech Also, I think the best way to make this project more accessible is to make the documentation and especially the help texts in the application more helpful. So if you tell me, where exactly are you stuck, I can give you advice and put that info in the documentation/help texts.

[2022-08-01 15:02] DilLip-Chowdary-Codes opened #42 "Blank Analytics Page"
I've installed the `django-admin-charts` by following the steps in this repo.

After installation and configuring necessary things,  when I open [http://localhost:8000/admin_tools_stats/analytics/](http://localhost:8000/admin_tools_stats/analytics/) I got a blank page with just the home button.

![Admin tools stats Page](https://user-images.githubusercontent.com/66238621/182179395-a82cf144-1c99-4a

[2022-08-01 16:17] PetrDlouhy commented on #42
@DilLip-Chowdary-Codes Did you add `Dashboard stats` objects as it was written in the last paragraph of `Basic setup for django-admin`?
The charts should appear also on the bottom of admin index page, but they need to be configured for every model separately.

[2022-08-01 18:55] PetrDlouhy commented on #42
@DilLip-Chowdary-Codes I have created new version `1.1.0` which clearly shows information with link where to create new stats.
Hope this will help future users.

[2022-08-02 03:53] DilLip-Chowdary-Codes commented on #42
Actually i'm using custom package for customise Model Admins, adding `admin_tools_stats.DashboardStats` in it resolved the issue.

[2022-08-02 03:53] #42 closed

[2022-08-21 11:47] PetrDlouhy commented on #39
I have migrated the project from `django-cache-utils` to `django-memoize` and release new version.
Now it should everything work with newest Django out of the box.

[2022-08-21 11:47] #39 closed

[2022-08-21 11:48] PetrDlouhy commented on #36
I have released new version 1.2.0, which fixes problem with `django-cache-utils`.
@NotSoShaby I am closing this issue, please reopen this or open new issue, if there are any problems with the new version.

[2022-08-21 11:48] #36 closed

[2022-09-29 12:17] mirodil1 opened #45 "Not showing graphs"
I've installed `django-admin-charts` as documentation,  `Dashboard stats`, `Dashboard stats criteria`  appeared in my admin panel but after configuring Dashboard stats, I didn't get any result, none graph is showing.  [my repo on github](https://github.com/mirodil1/savebot-admin-panel.git)

[2022-09-29 14:10] PetrDlouhy commented on #45
@mirodil1 Can you please post screenshots of the admin interface and Dashboard stats configuration?
And also of the analytics page at: `/admin_tools_stats/analytics`?

[2022-09-30 04:54] mirodil1 commented on #45
thanks for answer, it worked now
![image](https://user-images.githubusercontent.com/69641938/193192834-be52c137-b1df-447d-987f-06eaebe2cc64.png)

Here it is, and how can I get result by field, I mean I have a field called `name` and I need to show graph info by name like (instagram, facebook, youtube...), here graph is showing all of them in one line

[2022-09-30 08:23] PetrDlouhy commented on #45
That can be achieved by adding `CRITERIA TO STATS M2MS` of type `Multiple series`.

[2022-09-30 08:25] PetrDlouhy commented on #45
@mirodil1 I would appreciate if you can report weak spots in documentation you think should be improved.

[2022-09-30 10:24] mirodil1 commented on #45
@PetrDlouhy

I tried to add `CRITERIA TO STATS M2MS` but getting `ConnectionRefusedError at /admin/admin_tools_stats/dashboardstats/1/change/`  error when saving.
![Screenshot from 2022-09-30 15-15-37](https://user-images.githubusercontent.com/69641938/193249465-7de63acd-3f22-4627-9f40-5325e1a4f29d.png)

[2022-09-30 10:24] mirodil1 commented on #45
No problem!

[2022-09-30 10:35] PetrDlouhy commented on #45
I newer saw such such error and I have no idea where it is trying to connect. You need to find the URL of service it is trying to connect to in order to resolve this error.

[2022-09-30 11:15] mirodil1 commented on #45
I found it, it is pymemcache giving me that error, how important to use pymemcache ? because It works fine without it.

[2022-10-03 11:24] PetrDlouhy commented on #45
I don't think, that `pymemcached` is the only possibility, you can use other caching options, but as written in the `Installation` section of `README.rst`:
[code]

Caching is used by `django-memoize` to cache the dynamic choices of chart, which can get heavy in some cases.
But in the basic cases with not too much data, it could work well even without caching. If somebody wants make this requiremen

[2022-10-26 07:26] seravb opened #46 "Upload last migration"
With the last version of the package (1.2.0) it seems there's a migration that it's not in the uploaded to the project because if you run the makemigrations command this migration is created.

Could you upload the migration file and update the version? Thanks :)

[2022-11-02 22:28] #46 closed

[2022-11-14 15:20] seravb opened #49 "Add missing migration 0019_alter_cachedvalue_id_alter_criteriatostatsm2m_id_and_more"
Could you upload the last missing migration "0019_alter_cachedvalue_id_alter_criteriatostatsm2m_id_and_more" please? And could you update the README with all the possible instructions on how to start with the package to contribute with you? Thanks a lot.

[2022-11-17 07:40] PetrDlouhy commented on #49
@seravb The migrations are now complete and checked for every commit. Maybe there is something dependent on your configuration - e.g. are you using `DEFAULT_AUTO_FIELD=BigAutoField`? Anyway - it would help if you could post content of your migration file generated by `makemigrations`.

If that is the case, I am not sure, how to solve this problem. Maybe we can start using BigAutoFields on app leve

[2022-11-30 02:01] makseq opened #50 "No plots if graph identified has dashes"
![image](https://user-images.githubusercontent.com/501780/204689168-a4acf05f-733f-4b26-b6db-62bab10b6d98.png)

![image](https://user-images.githubusercontent.com/501780/204689275-3a2d6619-66e4-45c4-8d7e-446233054202.png)